@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap');

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}